p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;/*especifica o espaçamento entre os caracteres*/
    text-transform: uppercase; /*Text-transform pode mudar o jeito com que o texto será, tranformando ele todo em caixa alta, letra minusculas ou caixa alta no inicio de cada palavra*/
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0,0,200,0.6);
    box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;

}